header{
    background-color: #f21e67;
    color : white;
    /*height : 30vh;*/
    min-height: 150px;
    border-radius: 4px;
    margin-left: 0px;
}

.titreaccueil{
    padding-top: 40px;
    font-family: "Arial Narrow";
}

a.nav-item{
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}
.lead {
    font-style: italic;
    font-family: Casual;
}

.informations {
    height: 50px;
    background-color: aqua;
}

.container-bouton{
    margin-top : 2em;
}

.logo{
    width : 18%;
    max-width : 120px;
    padding-top : 20px;
    padding-left : 20px;



}

.container-bouton img{
    width:23%;
    max-width:200px;
}

.hidden{
    display: none;
}

.visible{
    display : block;
}

