header{
    background-color: #f21e67;
    color : white;
    /*height : 30vh;*/
    min-height: 150px;
    border-radius: 4px;
    margin-left: 0px;
}

.titreaccueil{
    padding-top: 40px;
    font-family: "Arial Narrow";
}
.lead {
    font-style: italic;
    font-family: Casual;
}

.container-bouton{
    margin-top : 2em;
}

.logo{
    width : 18%;
    max-width : 120px;
    padding-top : 20px;
    padding-left : 20px;



}

.container-bouton img{
    width:23%;
    max-width:200px;
<<<<<<< HEAD
    margin-right: 20px;
}

=======
}

.hidden{
    display: none;
}

.visible{
    display : block;
}
>>>>>>> da6430d2ab5d07a612fd705cd37ff43fb1a0c67b
